<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.admin.hermes" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <preference name="HERMES5mobile" value="2.0.0" />
    <name>HERMES 5 mobile</name>

    <description>
    HERMES 5 mobile (c) Marcel mc-b Bernet, Zuerich
    </description>

    <author href="http://www.hermes.admin.ch" email="info@isb.admin.ch">
    Marcel Bernet, Zuerich im Auftrag vom Informatikstrategieorgan Bund ISB
    </author>
    
    <content src="index.html" />
    <access origin="*" />
</widget>
