<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ch.admin.hermes"
    version     = "1.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="SimpleApp" value="1.0.0" />

    <name>Simple App</name>

    <description>
    Simple App (c) Marcel Bernet, Zuerich
    </description>

    <author href="http://www.mc-b.ch" email="marcel.bernet@ch-open.ch">
    Marcel Bernet
    </author>

</widget>
