[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/home/vagrant/eclipse/icon.xpm
Exec=/home/vagrant/eclipse/eclipse -data /home/vagrant/ws
Terminal=false
Categories=Development;IDE;Java;
Path=/home/vagrant/ws
StartupNotify=false
